.hero-section {
  height: 85vh;
  justify-content: space-between;
}

.hero-text {
  max-width: 30%;
  margin-left: 5%;
}

.hero-text > h1 {
  font-size: 44px;
}

.hero-img {
  max-width: 60%;
}

@media only screen and (max-width: 800px) {
  .hero-section {
    height: 50vh;
  }
  .hero-img {
    display: none;
  }
  .hero-text {
    max-width: 100%;
    margin-left: 5%;
  }
}
